body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #17f;
  color: white;
  padding: 10px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

article {
  display: flex;
  flex-direction: column;
  width: 45%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

button {
  height: 30px;
  background: none;
  border: 2px solid #4c89e3;
  color: #4c89e3;
  font-size: 12px;
  font-weight: bold;
  transition: all 0.5s;
  width: 100%;
}

button:hover {
  background-color: #4c89e3;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
}
